export DISABLE_SPRING=1


# Google Cloud common

export GOOGLE_CLOUD_PROJECT="your-project-id"


# Spanner

export SPANNER_INSTANCE="myapp"
export SPANNER_DATABASE="development"
export SPANNER_EMULATOR_HOST="localhost:9010"


# Pub/Sub

export PUBSUB_EMULATOR_HOST="localhost:8085"


# Secret Manager

# export MASTER_KEY_SECRET_ID="rails-master-key"


# Terraform

export TF_VAR_project_id="${GOOGLE_CLOUD_PROJECT}"
export TF_VAR_github_owner="nownabe"
export TF_VAR_github_repo="sample-rails-on-google-cloud"
