export DISABLE_SPRING=1


# Google Cloud common

export GOOGLE_CLOUD_PROJECT="your-project-id"


# Spanner

export SPANNER_INSTANCE="myapp"
export SPANNER_DATABASE="development"
export SPANNER_EMULATOR_HOST="localhost:9010"


# Pub/Sub

export PUBSUB_EMULATOR_HOST="localhost:8085"
